body {
    font-family: "Lucida Console", monospace;
    background-color: #FAF9F6; 
    color: #1E1E1E;
    transition: background-color 1s, color 1s;
}

.body-dark-mode {
    background-color: #1E1E1E;
    color: #FAF9F6;
}

.portfolio-container {
    border: 10px solid #0F52BA;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
    padding: 2%;

}
.section-container {
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* border: solid 1px red; */
    padding-top: 2%;
}
.intro-title {
    text-align: center;
    font-size: clamp(40px, 10vw, 200px);
}
.intro-subtitle {
    text-align: center; 
    font-size: clamp(20px, 2.5vw, 50px);
}

.section-title {
    text-align: center;
    font-size: clamp(20px, 5vw, 100px);
}

.card-title {
    /* text-align: center; */
    font-size: clamp(15px, 2.5vw, 50px);

}
.card-header {
    text-align: center;
}

.table-of-contents {
    text-align: center;
    margin-top: 1%;
}

hr {
    margin-bottom: 0;
    margin-top: 1%;

    border: none;
    height: 5px;
    background-color: #0F52BA;
    border-radius: 10px;
    width: 75%;
}



.top-right-corner {
    position: fixed;
    top: 5%;
    right: 5%;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: clamp(40px, 5vw, 100px);
    margin-top: 1%;
}

.invert-colors {
    filter: invert(100%);
}
.no-margin {
    margin: 0;
}

.hide-element {
    display: none;
}
.logo {
    width: clamp(20px, 5vw, 100px);
    height: clamp(20px, 5vw, 100px);

    border: 2.5px solid transparent;
    border-radius: 10px;

    transition: filter 1s, transform 0.25s ease;
    user-select: none;


}
.toggle-dark-mode-button {
    display: grid;
    align-items: center;
    text-align: center;
    font-size: small;
    border-color: #0F52BA;
}
.toggle-dark-mode-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.card {
    border: 5px solid #0F52BA;
    /* margin: 10px; */
    /* padding: 10px; */
    padding: 1%;
    border-radius: 10px;
    margin-top: 1%;
}
.clickable-card:hover {
    transform: scale(1.025);
    cursor: pointer;
    transition: transform 0.25s ease;

}

.card-footer {
    text-align: center;
}




.small-logo {
    width: 25px;
    height: 25px;
}
.clickable-logo:hover {
    cursor: pointer;    
    transform: scale(1.1);
}

.remove-text-decoration {
    text-decoration: none;
    
}

#modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    pointer-events: auto;
    user-select: auto;
}

.modal {
    position: fixed;
    background-color: #FAF9F6;
    color: #1E1E1E;
    border-radius: 10px;
    display: none;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    pointer-events: all;
    user-select: all;
    
    width: 90%;
    max-width: 2000px;
    min-width: 400px;
    margin: auto;


    border: 5px solid #0F52BA;
    transition: transform 0.25s ease;

    padding: 1%;
    max-height: 80vh;
    overflow-y: auto;
}



.modal-header {
    text-align: center;
}



body.modal-overlay-active *:not(#modal-overlay):not(.modal):not(.modal *) {
    pointer-events: none;
    transition: 0s;
    user-select: none;
}

body.modal-overlay-active .modal, body.modal-overlay-active .modal * {
    pointer-events: auto;
    user-select: none; /* disables text selection inside modals */
}

body.modal-overlay-active {
    overflow: hidden;
}

.content-image {
    width: clamp(200px, 35vw, 600px);
    border-radius: 10px;
    margin-bottom: 1%;
    user-select: none;

}

p {
    margin: 0;
}

#email-copied {
    display: none;
}

.modal-dark-mode {
    background-color: #1E1E1E;
    color: #FAF9F6;
    border-color: #0F52BA;
}

.body-dark-mode #modal-overlay {
    background-color: rgba(255,255,255,0.25);

}

html {
    scroll-behavior: smooth;
}

body, html, .modal {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
.modal::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.bubble {
    border: 2.5px solid #0F52BA;
    border-radius: 100px;
    padding: 0.5%;
}