body {
    font-family: "Lucida Console", monospace;
    background-color: #FAF9F6; 
    color: #1E1E1E;
    /* transition: background-color 1s ease, color 1s ease; */

}



body.overlay-active *:not(#email-overlay):not(#email-envelope) {
    pointer-events: none;
    transition: 0s;
    user-select: none;

}

body.overlay-active{
    overflow: hidden;
}

.portfolio-container {
    padding-left: 5%;
    padding-right: 5%;
    border: 10px solid #0F52BA;
    border-radius: 10px;

}

.body-dark-mode {
    background-color: #1E1E1E;
    color: #FAF9F6;


}

.invert-colors {
    filter: invert(100%);

}

.logo-link {
    text-decoration: none;
}

.card {
    border: 5px solid #0F52BA;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 10px;
    /* transition: background-color 1s ease, color 1s ease; */


}

.container-dark-mode {
    border: 5px solid #FAF9F6;

}

.card:hover {
    /* border: 10px solid red; */
    transform: scale(1.025);
}

.email-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#email-envelope {
    position: fixed;
    /* padding: 200px; */
    background-color: #FAF9F6;
    border: 5px solid #0F52BA;
    color: #1E1E1E;
    border-radius: 10px;
    display: none;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    pointer-events: auto;
    user-select: all;
    width: 50%;
    height: 30%;
    padding: 20px;
    text-align: center;


}

.logo {
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;

    
}
.logo:hover {
    transform: scale(1.1);
}
/* .logo:active {
    transition: none;
    transform: scale(1);
} */
/* hr {
    border: 3px solid #1E1E1E;
} */

td {
    padding: 10px;
}

.logo-table-cell {
    width: 5%;
}
.title-table-cell {
    width: 35%;
}
.description-table-cell {
    width: 60%;
}

#email-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    pointer-events: auto;
    user-select: auto;
}