html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('./assets/backgrounds/abstract_blue.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}