body {
    font-family: "Lucida Console", monospace;
    background-color: #FAF9F6; 
    color: #1E1E1E;
    transition: background-color 1s, color 1s;
}

.body-dark-mode {
    background-color: #1E1E1E;
    color: #FAF9F6;
}

.portfolio-container {
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    border: 10px solid #0F52BA;
    border-radius: 10px;
    width: 80%;
    max-width: 2000px;
    min-width: 400px;
    margin: auto;

}
.card-container {
    margin-left: 2%;
    margin-right: 2%;
}

.intro-content {
    font-size: clamp(16px, 4vw, 40px);
    text-align: center; 
}

.section-title {
    text-align: center;
    font-size: clamp(40px, 5vw, 100px); 
    margin: 0;
    padding: 20px;
}

.name-title {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: clamp(40px, 10vw, 200px);

}

.top-right-corner {
    position: fixed;
    top: 5%;
    right: 5%;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: clamp(40px, 5vw, 100px);
}

.invert-colors {
    filter: invert(100%);
}
.no-margin {
    margin: 0;
}

.hide-element {
    display: none;
}
.logo {
    width: clamp(40px, 5vw, 100px);
    height: clamp(40px, 5vw, 100px);

    border: 2.5px solid transparent;
    border-radius: 10px;

    transition: filter 1s, transform 0.25s ease;

}
.toggle-dark-mode-button {
    display: grid;
    align-items: center;
    text-align: center;
    font-size: small;
    border-color: #0F52BA;
}
.toggle-dark-mode-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.invertible-logo {
}

.card {
    border: 5px solid #0F52BA;
    margin: 10px;
    padding: 10px;
    transition: transform 0.25s ease;
    border-radius: 10px;


}




.card:hover {
    transform: scale(1.025);
}


.small-logo {
    width: 25px;
    height: 25px;
}
.clickable-logo:hover{
    cursor: pointer;    
    transform: scale(1.1);
}
.remove-text-decoration {
    text-decoration: none;
}

#email-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    pointer-events: auto;
    user-select: auto;
}

#email-envelope {
    position: fixed;
    background-color: #FAF9F6;
    border: 5px solid #0F52BA;
    color: #1E1E1E;
    border-radius: 10px;
    display: none;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    pointer-events: auto;
    user-select: all;
    width: 50%;
    height: 30%;
    padding: 20px;
    text-align: center;
}

body.email-overlay-active *:not(#email-overlay):not(#email-envelope) {
    pointer-events: none;
    transition: 0s;
    user-select: none;
}

body.email-overlay-active{
    overflow: hidden;
}
