html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('./assets/backgrounds/abstract_blue.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* body, html {
  margin: 0;
  height: 100%;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('./assets/backgrounds/abstract_blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(8px);
  -webkit-filter: blur(8px);

} */
